:root{
--color-main: #ffac02;
--pixel:-10px, -3px;
}
body,html{
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.wrapper{
  display: grid;
  grid-template: 200px 1fr auto/100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.navbar{
  margin-top: 3%;
  grid-area: 1;
  display: grid;
  grid-template:100%/auto auto;
  align-items: center;
  height: 100px;

}
img{
    margin-left: 5%;
}
nav{
  display: grid;
  grid-template: 100%/ auto auto auto auto;
}
button{
  text-decoration: none;
  color:black;
  border: none;
  background: none;
  outline: none;
  font-size:2vw;
  letter-spacing: 2px;
}

nav .active{
  color: var(--color-main);
}

button:hover{
  color: var(--color-main);
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.main{
  display: grid;
  align-items: center;
  grid-template: auto auto auto/90%;
  justify-content: center;

}

main{
  display: grid;
  grid-auto-flow: row;
  grid-template: 80%/auto;
}

input{
  border: none;
  padding-bottom: 2%;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 1.2em;
  margin-top: 5%;
}

input:hover:-webkit-input-placeholder{
  color: var(--color-main);
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

input:hover:-moz-placeholder{
  color: var(--color-main);
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

input:hover::-webkit-input-placeholder{
  color: var(--color-main);
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

input:hover::-moz-placeholder{
  color: var(--color-main);
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}


td{
   display: grid;
   grid-template: 100%/35% 25% 20% 20%;
   grid-auto-flow: column;
   border-bottom: 1px solid black;
  }

td:hover{
  border: 1px solid black;
  color:var(--color-main);
  box-shadow: 5px 5px  3px  var(--color-main);
  -o-transform: translate(var(--pixel));
  -ms-transform:translate(var(--pixel));
  -moz-transform: translate(var(--pixel));
  -webkit-transform: translate(var(--pixel));
  transform: translate(var(--pixel));
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

td p {
    font-size: 1.5vw;
}
.footer{
  grid-area: 3;
  font-size: 1vw;
  height: 100px;

}
.footer{
  margin: 20px 0 0 0;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-item:flex-start;
}
footer a:hover{
  color:rgb(200,150,0);
}
